.title {
  margin-bottom: 32px;
  text-align: center;
}

.imgContainer {
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 400px;
  width: 100%;
  display: inline-block;
  margin-top: 100px;
  cursor: pointer;
}
