@import "../../styles/variables.scss";

.heroContainer {
  width: 100%;
  padding: 170px 0 32px 0;
  @media only screen and (min-width: $breakpoint-sm) {
    padding: 220px 0 32px 0;
  }
  @media only screen and (min-width: $breakpoint-md) {
    padding: 280px 0 70px 0;
  }
  @media only screen and (min-width: $breakpoint-lg) {
    padding: 280px 0 70px 0;
  }
  @media only screen and (min-width: $breakpoint-xl) {
    padding: 320px 0 100px 0;
  }

  .title {
    margin-bottom: 80px;
    font-family: $font-regular;
    @media only screen and (min-width: $breakpoint-md) {
      margin-bottom: 120px;
    }
    span {
      display: block;
      overflow: hidden;
    }
  }
  h4 {
    line-height: 1.4;
    margin-bottom: 32px;
  }
  p {
    margin-bottom: 32px;
  }
}

.cvLink {
  margin: 0 auto 0 auto;
  @media only screen and (min-width: $breakpoint-sm) {
    margin: 0 0 0 0;
  }
}

.skillsGrid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  @media only screen and (min-width: $breakpoint-sm) {
    margin-top: 45px;
  }
  @media only screen and (min-width: $breakpoint-md) {
    margin-top: 60px;
  }

  .skillsCell {
    height: 50px;
    display: flex;
    align-items: center;
    width: 50%;
    @media only screen and (min-width: $breakpoint-sm) {
      width: 50%;
    }
    @media only screen and (min-width: $breakpoint-md) {
      width: 33%;
      height: 70px;
    }
    p {
      font-family: $font-extra-light;
    }
  }
}
