@import "../styles/variables.scss";

.heroContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 70px 0 70px 0;
  @media only screen and (min-width: $breakpoint-sm) {
    padding: 120px 0 90px 0;
  }
  @media only screen and (min-width: $breakpoint-md) {
    padding: 180px 0;
  }
  @media only screen and (min-width: $breakpoint-lg) {
    padding: 180px 0;
  }
  @media only screen and (min-width: $breakpoint-xl) {
    padding: 220px 0;
  }
}

.name {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  @media only screen and (min-width: $breakpoint-sm) {
    font-size: 24px;
    margin-bottom: 24px;
  }
  @media only screen and (min-width: $breakpoint-md) {
    margin-bottom: 32px;
  }
  span {
    display: block;
    overflow: hidden;
    & > span {
      opacity: 0;
    }
  }
}

.subTitle {
  position: relative;
  z-index: 1;

  span {
    display: block;
    overflow: hidden;
    & > span {
      opacity: 0;
    }

    &.offset {
      margin-left: 61px;
      margin-bottom: 32px;
      @media only screen and (min-width: $breakpoint-sm) {
        margin-left: 121px;
        margin-bottom: 32px;
      }
      @media only screen and (min-width: $breakpoint-md) {
        margin-left: 138px;
        margin-bottom: 0;
      }
      @media only screen and (min-width: $breakpoint-lg) {
        margin-left: 168px;
      }
    }
  }
}

.heroLinkContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  min-height: 120px;
  @media only screen and (min-width: $breakpoint-md) {
    min-height: unset;
  }
}

.selectedWorkContainer {
  background-color: $off-white;
  padding-top: 70px;
  padding-bottom: 70px;
  @media only screen and (min-width: $breakpoint-sm) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @media only screen and (min-width: $breakpoint-md) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .projTitle {
    margin-bottom: 40px;
    @media only screen and (min-width: $breakpoint-md) {
      margin-bottom: 54px;
    }
  }
  .offsetCol {
    @media only screen and (min-width: $breakpoint-sm) {
      margin-top: -60px;
    }
  }
  .nda {
    margin-top: 32px;
    @media only screen and (min-width: $breakpoint-sm) {
      margin-top: 60px;
    }
  }
}

.aboutCol {
  padding: 70px 0;
  // border-bottom: 1px solid $light-grey;

  @media only screen and (min-width: $breakpoint-sm) {
    padding: 90px 0;
  }
  @media only screen and (min-width: $breakpoint-md) {
    padding: 120px 0;
  }

  p {
    margin-bottom: 35px;
    @media only screen and (min-width: $breakpoint-sm) {
      margin-bottom: 45px;
    }
    @media only screen and (min-width: $breakpoint-md) {
      margin-bottom: 60px;
    }
  }
  a {
    display: block;
    width: fit-content;
  }
}

.moreWorksSection {
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;

  @media only screen and (min-width: $breakpoint-sm) {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  @media only screen and (min-width: $breakpoint-md) {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .description {
    margin-bottom: 35px;
    margin-top: 35px;
    @media only screen and (min-width: $breakpoint-sm) {
      margin-bottom: 45px;
      margin-top: 45px;
    }
    @media only screen and (min-width: $breakpoint-md) {
      margin-bottom: 60px;
      margin-top: 60px;
    }
  }
}
