@font-face {
  font-family: "SofiaExtraLight";
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/Sofia\ Pro\ ExtraLight\ Az.otf")
    format("opentype");
}

@font-face {
  font-family: "SofiaExtraLightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/Sofia\ Pro\ ExtraLight\ Italic\ Az.otf")
    format("opentype");
}

@font-face {
  font-family: "SofiaLight";
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/Sofia\ Pro\ Light\ Az.otf")
    format("opentype");
}

@font-face {
  font-family: "SofiaLightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/Sofia\ Pro\ Light\ Italic\ Az.otf")
    format("opentype");
}

@font-face {
  font-family: "SofiaRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/Sofia\ Pro\ Regular\ Az.otf")
    format("opentype");
}

@font-face {
  font-family: "SofiaRegularItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/Sofia\ Pro\ Regular\ Italic\ Az.otf")
    format("opentype");
}

@font-face {
  font-family: "SofiaMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/Sofia\ Pro\ Medium\ Az.otf")
    format("opentype");
}

@font-face {
  font-family: "SofiaMediumItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/Sofia\ Pro\ Medium\ Italic\ Az.otf")
    format("opentype");
}

// @font-face {
//   font-family: "SofiaBold";
//   font-style: normal;
//   font-weight: normal;
//   src: url("../public/assets/fonts/Sofia\ Pro\ Bold\ Az.otf") format("opentype");
// }
