@import "../../styles/variables.scss";

.projWrap {
  text-decoration: none;
  &:hover {
    color: inherit;
  }
  &:hover .arrowContainer {
    transform: rotate(-30deg);
    transition: transition(transform);
  }
  &:hover .bottom .arrowContainer .arrowBg {
    height: 60px;
    width: 60px;
    transition: height 150ms ease-out, width 150ms ease-out;
  }

  article {
    margin-bottom: 40px;
    padding-bottom: 32px;
    border-bottom: 1px solid $light-grey;
    position: relative;
    @media only screen and (min-width: $breakpoint-md) {
      margin-bottom: 54px;
    }
    .imgContainer {
      position: relative;
      margin-bottom: 24px;
      @media only screen and (min-width: $breakpoint-md) {
        margin-bottom: 32px;
      }
      .pgImage {
        max-width: 100%;
        width: 100%;
      }
      .imgForeground {
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 100%;
        background-color: $off-white;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        margin-bottom: 8px;
        text-decoration: none;
      }
      .arrowContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: transition(transform);

        img {
          z-index: 1;
          width: 60%;
          @media only screen and (min-width: $breakpoint-md) {
            width: unset;
          }
        }

        .arrowBg {
          background-color: $accent-color;
          height: 0;
          width: 0;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 0;
          transition: height 150ms ease-out, width 150ms ease-out;
        }
      }
    }
    .tagContainer {
      display: flex;
      p {
        display: inline;
        position: relative;
        margin-right: 24px;
        color: $dark-grey;
        text-decoration: none;

        &::after {
          content: "";
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: $dark-grey;
          position: absolute;
          right: -15px;
          top: 49%;
          transform: translateY(-50%);
        }
        &:last-child::after {
          display: none;
        }
      }
    }
  }
}
